@import url('https://fonts.googleapis.com/css2? family=Fira+Code:wght@400;500;600;700&family=Press+Start+2P&display=swap');
body{
  margin: 0;
  height: 100%;
  background-color: rgb(2,0,36);
  background: -moz-linear-gradient(234deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(234deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);
  background: linear-gradient(234deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
  font-family: 'Fira Code', monoespacio;
  overflow: hidden;
  font-size: 1em;
}

#titulos{
  color: white;
  margin: 0 10;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2%;
  text-shadow:
  3px 3px 4px #AAA,
  6px 6px 4px #777,
  12px 12px 10px #444;
}

#bannerRotarTelefono{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: coral;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
}
.esconder{
    display: none !important;
}

#bottonCerrarBanner{
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: white;
  padding: 5px 10px;
  background-color: coral;
  color: white;
}

#PUNTUACION{
  color: greenyellow;
  /* font-size: 1.8em; */
  margin-bottom: 0.8%;
  }

.contenedorJuego{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}
.contenedorNintendo{
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(-20px 5px 15px rgba(15, 28, 42, 0.424));
}

.juegoOverley{
  position: relative;
}
.nintendo{
  width: 100%;
}

#bannerRotarTelefono{

display: felx;
align-items: center;
justify-content: space-between;

}

#juegoCanvas{

    background-color: #99c728;
    position: absolute;
    left: 16.9%;
    top: 5.19%;
    width: 73.8%;
    box-shadow: inset 0 0 10px 5px rgba(11, 44, 6, 0.383);
}
@media screen and (min-width: 508px) {
  .contenedorNintendo{
    width: 80%
    }
    body{
      font-size: 1.5em;
    }
}
@media screen and (min-width: 582px) {
  .contenedorNintendo{
    width: 65%
    }
    body{
      font-size: 1.5em;
    }
}

@media screen and (min-width: 800px) {
  .contenedorNintendo{
    width: 50%
  }
  body{
    font-size: 1.8em;
  }
}
@media screen and (min-width: 867px) {
  .contenedorNintendo{
    width: 45%
  }
  body{
    font-size: 1.8em;
  }
}
@media screen and (min-width: 1141px) {
  .contenedorNintendo{
    width: 25%
  }
  body{
    font-size: 1.8em;
  }
}

.shake-bl {
	-webkit-animation: shake-bl 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-bl 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-10-26 23:35:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-bl
 * ----------------------------------------
 */
@-webkit-keyframes shake-bl {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bl {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
